name: car diff

on:
  workflow_run:
    workflows: ["tests"]
    types: [completed]
    branches-ignore:
      - master

jobs:
  comment:
    name: comment
    if: github.event.workflow_run.event == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    continue-on-error: true
    permissions:
      contents: read
      pull-requests: write
      actions: read
    steps:
    - name: Download car diff
      uses: dawidd6/action-download-artifact@v6
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        run_id: ${{ github.event.workflow_run.id }}
        name: pr
        allow_forks: true
    - id: pr
      run: echo "number=$(cat pr_number)" >> $GITHUB_OUTPUT
    - name: Comment car diff on PR
      uses: thollander/actions-comment-pull-request@v2
      with:
        filePath: diff.txt
        comment_tag: car_diff
        pr_number: ${{ steps.pr.outputs.number }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
