name: car diff

on:
  push:
    branches:
      - master
  pull_request_target:

jobs:
  car_diff:
    name: car diff
    runs-on: ${{ github.repository == 'commaai/opendbc' && 'namespace-profile-amd64-8x16' || 'ubuntu-latest' }}
    permissions:
      contents: read
      pull-requests: write
    env:
      GIT_REF: ${{ github.event_name == 'push' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch) && github.event.before || format('origin/{0}', github.event.repository.default_branch) }}
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha || github.sha }}
        fetch-depth: 0
    - uses: ./.github/workflows/cache
    - name: Build opendbc
      run: |
        source setup.sh
        scons -j8
    - name: Test car diff
      if: github.event_name == 'pull_request_target'
      run: source setup.sh && python opendbc/car/tests/car_diff.py | tee diff.txt
    - name: Comment PR
      if: always() && github.event_name == 'pull_request_target'
      uses: thollander/actions-comment-pull-request@v2
      with:
        filePath: diff.txt
        comment_tag: car_diff
        pr_number: ${{ github.event.number }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Update refs
      if: github.repository == 'commaai/opendbc' && github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: source setup.sh && python opendbc/car/tests/car_diff.py --update-refs
    - name: Checkout ci-artifacts
      if: github.repository == 'commaai/opendbc' && github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: actions/checkout@v4
      with:
        repository: commaai/ci-artifacts
        ssh-key: ${{ secrets.CI_ARTIFACTS_DEPLOY_KEY }}
        path: ${{ github.workspace }}/ci-artifacts
    - name: Push refs
      if: github.repository == 'commaai/opendbc' && github.event_name == 'push' && github.ref == 'refs/heads/master'
      working-directory: ${{ github.workspace }}/ci-artifacts
      run: |
        ls ${{ github.workspace }}/car_diff/*.zst 2>/dev/null || exit 0
        git config user.name "GitHub Actions Bot"
        git config user.email "<>"
        git fetch origin car_diff || true
        git checkout car_diff 2>/dev/null || git checkout --orphan car_diff
        cp ${{ github.workspace }}/car_diff/*.zst .
        git add *.zst
        git commit -m "car_diff refs for ${{ github.sha }}" || echo "No changes to commit"
        git push origin car_diff
